sysname huawei-edge-01
#
stelnet server enable
#
aaa
 local-user admin password irreversible-cipher $1c$example
 local-user admin privilege level 15
 local-user admin service-type ssh terminal
#
interface GigabitEthernet0/0/0
 description wan
 ip address 192.0.2.2 255.255.255.252
 undo shutdown
quit
#
interface GigabitEthernet0/0/1
 description lan
 ip address 10.41.0.1 255.255.255.0
 undo shutdown
quit
#
ip route-static 0.0.0.0 0.0.0.0 192.0.2.1
#
